@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);
.lead{
    width: 77%;
    min-width:740px;
    margin:0 auto 92px; 
}
@media screen and (max-width: 1024px) {
    .lead{
        width: 90%;
    }
}
@media screen and (max-width: 770px) {
    .lead{
        width: 100%;
        min-width: 0;
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 600px) {
    .lead{
        margin-bottom: 62px;
    }
}
