@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_active/header__lang_active.css);
@import url(./__lang-container/header__lang-container.css);

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px  0;
}
@media screen and (max-width: 1024px) {
    .header{ padding: 28px 0 0;
        width: 90%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .header{ width: 93%;
        margin: 0 auto;
        
    }
}
@media screen and (max-width: 600px) {
    .header{ padding: 16px 3% 0;
        
    }
}