.footer__copyright{
    justify-self: end;
    margin-left: auto;
    font-size: 0.8rem;
    line-height: 112%;
}
@media screen and (max-width:710px) {
    .footer__copyright{
        margin-left: 0;
        padding-top: 16px;
        left: 100%;
    }
  }