.footer__list{
    list-style-type: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
}
@media screen and (max-width:710px) {
    .footer__list{
        flex-direction: column;
    }
  }