@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__text/place__text.css);
@import url(./__link-header/place__link-header.css);
@import url(./__container/place__container.css);
.place{
    list-style-type: none;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-areas: 
    "title link"
    "image text"
    "image text";
    margin-top: 10%;
    grid-column-gap: 6%;
}
.place:first-of-type{
    margin-top: 0;
}
@media screen and (max-width: 1024px) {
    .place{
        grid-template-columns: 52% 42%;
    }
}
@media screen and (max-width: 600px) {
    .place{
        display: block;
    }
}