.place__link-header{
    padding-top: 10%;
    font-size: 0.75rem;
    line-height: 100%;
/* identical to box height, or 100% */
    color: #aaaaaa;
    letter-spacing: 0.2em;
    position: absolute;
    bottom:80px;

    
}

@media screen and (max-width: 600px) {
    .place__link-header{
        display: none;
    }
}